{% extends 'base.html' %}

{% load static %}

{% block title %}
    Удаление комментария
{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}

{% endblock content %}




{% block main %}
    <div class="container my-2">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div class="card bg-dark text-white shadow-sm" style="border-radius: 1rem;">
                    <div class="card-body p-2 text-center">

                        <div class="my-2">

                            <h4 class="fw-bold mb-2 text-uppercase text-warning">Удаление комментария</h4>
                            <img src="{% static 'core/img/mango.png' %}" width="80px" height="auto">

                            <form action="" method="post" enctype="multipart/form-data" class="">
                                {% csrf_token %}
                                <div class="card-body">
                                    {{ form|crispy }}
                                </div>
                                <div class="">
                                    <div class="d-grid gap-2 px-3">
                                        <div class="btn-group">
                                            <input class="btn btn-outline-info" type="button" onclick="history.back();"
                                                   value="Назад"/>
                                            <button class="btn btn-outline-warning" type="submit">Удалить</button>
                                        </div>
                                    </div>

                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}