{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Чат{% endblock title %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'chat/style.css' %}">
{% endblock style %}



{% block main %}
    <div class="container border-bottom">
        <div class="row justify-content-center">
            <h4 class="text-center text-warning my-2">Чат с
                пользователем {{ to_user.profile.first_name }} {{ to_user.profile.last_name }}</h4>
            <div class="col-md-4">
                <div class="py-2 px-4 border-bottom d-none d-lg-block ">
                    <div class="d-flex align-items-center py-1">
                        <a class="text-decoration-none" href="{% url 'users:profile' to_user.profile.slug %}">
                            <div class="position-relative">
                                <img
                                        src="{{ to_user.profile.picture.url }}" class="rounded-circle me-3"
                                        width="40" height="40">

                            </div>
                            <div class="flex-grow-1 pl-3">
                                <strong>{{ to_user.profile.first_name }} {{ to_user.profile.last_name }}</strong>
                        </a>
                        <div class="text-muted small"><em>
                            {% if to_user.profile.online %}
                                В сети
                            {% else %}
                                Не в сети
                            {% endif %}
                        </em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>








    <main class="content">
        <div class="container p-0">


            <div class="card">
                <div class="row justify-content-center g-0">

                    <div class="col-md-10 col-lg-7 col-xl-9">

                        <div class="position-relative">
                            <div class="chat-messages p-2">
                                {% for message in messages_list %}


                                    <div class="chat-message-{% if message.sender_user == request.user %}right{% else %}left{% endif %} mb-4">
                                        <div>
                                            <a href="{{ message.sender_user.profile.get_absolute_url }}"><img
                                                    src="{{ message.sender_user.profile.picture.url }}" width="40"
                                                    height="40" class="rounded-circle mr-1"></a>

                                            <div class="text-muted small text-nowrap mt-2">{{ message.date|date:"H:m" }}</div>
                                        </div>
                                        <div class="flex-shrink-1 bg-light rounded py-2 px-3 mx-3 align-items-center ">
                                            {% if message.sender_user == request.user %}
                                                <div class="d-flex flex-row align-items-center">


                                                    <div class="me-3">{{ message.body }}</div>
                                                    <div><a href="{% url 'message_delete' message.pk %}">
                                                        <i class="fa-solid fa-trash fa-sm text-danger"></i></a></div>





                                                </div>
                                            {% else %}
                                                {{ message.body }}
                                            {% endif %}
                                        </div>
                                    </div>

                                {% endfor %}


                            </div>
                        </div>

                        <div class="flex-grow-0 py-3 px-4 border-top">

                            <form action="" method="post">{% csrf_token %}
                                <div class="d-flex flex-row">
                                    <input type="text" name="body" class="form-control" placeholder="Введите сообщение">
                                    <button type="submit" class="btn btn-primary"><i
                                            class="fa-solid fa-paper-plane fa-lg"
                                            style="color: rgba(240,255,240,0.96);"></i>
                                    </button>
                                </div>
                            </form>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock main %}